body{

  height: 100vh;
  background-image: url('img.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
#textbox{
  border: 2px Groove #47a0ff;
  border-radius: 8px;
  padding: 12px;
  font-size: 21px;
  width: 277px;
 margin-top: 3%;
 margin-left: 547px;

}
#sb{
  border: 13px Groove #47a0ff;
  border-radius: 8px;
  background-color: #c5ae45;
  width: 132px;

}